h1 {
   text-align: center;
   padding: 0;

}

body{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #D5EEFF;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover{
    background-color: #78BBE6;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid black;
}

.display{
    height: 60px;
    width: 98%;
    border-radius: 10px;
    border: 2px solid black;
    text-align: end;
    font-size:large;
    font-family: 'DSEG', monospace;
}

button{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.equals{
    width: 100%;
    background-color: #FF347F;
    opacity: 70%;
    font-size: x-large;
}

#clear{
    background-color: #DB2D43;
}

.operand{
    background-color: #1B435D;
    color: white;
}

footer{
    text-align: center;
    background-color: #141E61;
    padding: 10px;
    color: white;
    font-size: x-large;
}